.shopping-cart {
  
  h2{
    text-align: center;
    padding: 10px;
  }
  .cart-items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 60vw;
    margin-bottom: 20px;
    // justify-content: space-around;
    .cart-item {
      width: 300px;
      height: 250px;
      background-color: #ddd;
      margin: 0 20px;
      border: 1px solid #eee;
      .image {
        width: 100%;
        height: 60%;
      }
      .name-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px;
      }
      .price-quantity{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        
        .quantity {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          p{padding: 10px}
          button {
            width: 20px;
            background-color: rgb(129, 38, 129);
            color: white;
          }
        }

        .remove{
          border: 1px solid #eee;
          font-size:  10px;
          border-radius: 4px;
        }
        .remove:hover{
         opacity: 0.7;
        }
      }
    }
    .total-price{
      p{
        font-weight: bolder;
        margin-bottom: 10px;
      }
      div{
        a{
          text-decoration: none;
        }
      }
     

      
    }
  }
}
